# Produced by xmonad
xmonad-x86_64-linux
xmonad.errors

# Backups/tempfiles
*~
\#*
.\#*
.*.sw?

# Added by Github
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
